<div class="wrapper">
    <!-- Sidebar Menu -->
    <nav id="sidebar" [hidden]="!menu">
        <div class="sidebar-header">
            <h3>VUP-SOLUTION</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administration</a>
                <ul class="collapse list-unstyled" id="adminSubmenu">
                    <li>
                        <a [routerLink]="['/welcome']">Entreprise</a>
                    </li>
                    <li>
                        <a [routerLink]="['/virtualzone']">Atelier</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Ligne de production</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Atelier</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Non conformité</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Mode opératoire</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Opération</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Machine</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Client</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Commande</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Produit</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Gamme Opératoire</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#persoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ressources Humaines</a>
                <ul class="collapse list-unstyled" id="persoSubmenu">
                    <li>
                        <a [routerLink]="['/historical']">Jours Feriés</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Jours Fermeture</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Agenda</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Shift</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Catégorie Compétences</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Compétences</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Role</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Employé</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#affecSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Affectations</a>
                <ul class="collapse list-unstyled" id="affecSubmenu">
                    <li>
                        <a [routerLink]="['/historical']">Machine</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Employé</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#prodSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Production</a>
                <ul class="collapse list-unstyled" id="prodSubmenu">
                    <li>
                        <a [routerLink]="['/historical']">Plannification</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Saisie</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Supervision</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#qualSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Qualité</a>
                <ul class="collapse list-unstyled" id="qualSubmenu">
                    <li>
                        <a [routerLink]="['/historical']">Plannification</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Saisie</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Supervision</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#mainSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Maintenance</a>
                <ul class="collapse list-unstyled" id="mainSubmenu">
                    <li>
                        <a [routerLink]="['/historical']">Plannification</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Saisie</a>
                    </li>
                    <li>
                        <a [routerLink]="['/historical']">Supervision</a>
                    </li>
                </ul>
            </li>
            <li>
                <a herf="#" class="dropdown-toggle">AMDEC</a>
            </li>
            <li>
                <a herf="#" class="dropdown-toggle">Stock</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <!---- NavBar ---->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" [hidden]="!connected" class="btn btn-info" (click)="displayMenu()">
                    <i class="fas fa-align-left"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" [hidden]="connected">
                            <a class="nav-link" [routerLink]="['#']"  (click)="open(content)">
                                <i class="fas fa-sign-in-alt"></i>
                                Connexion
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item" [hidden]="!connected">
                            <a class="nav-link" [routerLink]="['#']"  (click)="logout()">
                                <i class="fas fa-sign-out-alt"></i>
                                Déconnexion
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Begin Modal Connexion -->
        <ng-template #content let-modal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close"  aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>
                <form>
                    <div class="form-group">
                        <label for="login">Identifiant</label>
                        <input type="login" [(ngModel)]="authentication.login"  class="form-control" id="login" name="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" [(ngModel)]="authentication.password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">se souvenir de moi</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="login()">Se connecter</button>
            </div>
        </ng-template>
        <!-- End Modal Connexion -->
        <!---- Body ---->
        <router-outlet></router-outlet>
    </div>
