<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <a class="navbar-brand" routerLink="/"><img  width="150px" height="40px" src="assets/img/kriauto.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

    <ul class="navbar-nav">
     <li class="nav-item dropdown" [hidden]="!islogged">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administration
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item" routerLink="/home">Action</a>
        <a class="dropdown-item" routerLink="">Another action</a>
        <a class="dropdown-item" routerLink="">Something else here</a>
      </div>
     </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="openModal(template);false" [hidden]="islogged">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="logout();false"  [hidden]="!islogged">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Authentification</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <alert type="success" [hidden]="failed">
      <strong>Well done!</strong> {{error.message}}.
    </alert>
    <alert type="danger"  [hidden]="success">
      <strong>Well done!</strong> {{error.message}}.
    </alert>
    <form [formGroup]="userForm">
      <div class="form-group">
        <label>Identifiant</label>
        <input type="email" class="form-control" id="identifiant" formControlName="login" aria-describedby="emailHelp" placeholder="Identifiant">
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Mot de passe">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Se souvenir</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login();false">Se connecter</button>
    </form>  </div>
</ng-template>

<div style="min-height:100vh;"><router-outlet></router-outlet></div>

<!-- Footer -->
<footer class="py-3 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Kriauto 2019</p>
  </div>
</footer>

</body>

</html>
